
body{

    background-color: #193242;
    color: #29465d;
	min-width:900px;
}

h1 {
	color: #FFFFFF;
}

h3 {
	color: #FFFFFF;
    margin-left: 250px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 20%;
}

table, td {
    border-style: solid;
    border-color: #888888;
    border-radius: 8px;
	color: #FFFFFF;
}

a:link, a:visited {
    color: rgb(230, 113, 59);    
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

a.itemTitleLink {
    color: #008080;
    font-size: 17pt;
}

a.review {
    color: #008080;
}

#refresh{
    margin-top:57px;
    background-color: #cfdad4;
    float:right;
}

#logo {
 width:130px;
height:50px; 
display:inline;
}

#mainBar{
    white-space: nowrap; 
    display: inline-block;
    height: 70px;
    width: 100%;
    background-color: #cfdad4; 
}

#sidebar {
    padding: 2px;
    clear: both;
    width: 20%;
    height: 400px;
    float: left;
    font-size: 13pt;
    background-color: #cfdad4;
    margin-bottom: 0;
    position: relative; 
    border-style: none;
	min-width:150px;
	max-width:150px;
}

.iFrameClass{
    height: 400px;
    width: 95%;
}

#mainBarPic{
    float:left;
    position:relative;
    display: inline-block;
    margin-top: 10pt;
    margin-left: 2%;
    margin-right: 2%;
    width: 17.5%;
    height: 50%;
}

#mainBarSearch{
    float:left;
    position:relative;
    display: inline-block;
    margin-top: 10pt;
    padding-bottom:20pt;
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    height: 50%;
    color:#F36D2E;
    font-size: 30pt;
    font-family: "Arial Black", Gadget, sans-serif;
}

.mainBarButtons{
    float: left;
    position: relative;
    text-align: center;
    font-size: 12pt;
    display: inline-block;
	/*background: #ebebeb;* can't get this working*/
    margin-top: 19pt;
    margin-left: 2%;
    margin-right: 2%;
    width: 12.5%;
    height: 50%;
}

#mainPageFeed{
    margin-left:200px;
    overflow: auto;
    margin-top: 80px;
    left: 23%;
    width: 75%;
}

#mainProfile{
   margin-left:200px;
   overflow: auto;
   left: 23%;
   width: 75%;
   clear: both;
   overflow:hidden;
}

.feed{
   color: #FFFFFF;
   height: 70px;
   width: 97%;
   padding: 5px;
   margin-bottom:10px;
   background-color: #29465d;
   border-style: solid;
   border-color: #888888;
}

.feedNews{
    color: #FFFFFF;
    width: 97%;
    padding: 5px;
    margin-bottom:10px;
    background-color: #29465d;
    border-style: solid;
    border-color: #888888;
 }

 .innerHeader{
    background-image: url("images/banner.png") ;
    background-repeat: repeat-x;
    margin-bottom: -50px;
    margin-left: 50px;
 }

#centerBox {
    position: absolute;
    overflow: auto;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #cfdad4;
    border-width: 1px;
    box-shadow: 2px 2px 3px #888888;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    height: 300px;
    width: 40%;
}

#updateInfoP{
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: double;
    padding: 10px;
    font-size: 10pt;
}

.important{
    font-size: 14pt;
    text-decoration: underline;
}

.profileButtons{
    margin-top:10px;
    background-color: #cfdad4;
}

#centerBoxContent {
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.inputLoginSignup{
   height: 40px;
   width: 100px;
}

#profile{
   width:100%;
   display:inline-block;
   min-width:600px;
}

#profilePic {
   border-radius: 15px;
   border-color:white;
   height: 200px;
   width: 200px;
   display:inline;
   overflow:hidden;
   white-space: nowrap;
}

.profileInfo {
    color: #FFFFFF;
    border-style: solid;
    border-color: #888888;
    border-radius: 8px;
    display: inline;
    height: 200px;
    padding: 5px;
    width: 60%;
    float: right;
    overflow:hidden;
    white-space: nowrap;
}

.profileBio {
    display:block;
    border-style: solid;
    border-color: #888888;
    border-radius: 8px;
    margin-top: 100px;
    padding: 10px;
    width: 97%; 
    height: 80px;
    color: #FFFFFF;
    overflow:hidden;
}

.gameList {
    margin-top: 20px;
	color: #FFFFFF;
}
